.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

}

.accordion{
    width: 500px;
    box-shadow: red
    border-radius: 8px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.item{
    background: hsl(132, 73%, 71%);
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
}

.content{
    background: white;
    color: black;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
}